# Folders
Pong/Debug/
Pong/.vs/
Pong/Debug/
Pong/x64/
Pong/Game/Debug/
Pong/Game/Release/
Pong/Game/x64/	
Pong/bin/
Pong/obj/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch


# Fortran module files
*.mod
*.smod


# Executables
*.exe
*.out
*.app
